@use "./variables";

input[type="password"] {
  font-family: variables.$password-font-family;
}

code,
kbd,
pre,
samp {
  font-family: variables.$monospace-font-family;
}

html {
  overflow-y: auto !important;
}

.v-btn__content {
  width: 100% !important;
}

.v-toolbar__prepend > .v-icon {
  margin: 12px !important;
}

.v-toolbar__content > .v-toolbar-title {
  margin-inline-start: 4px !important;
}
